# Python cache
__pycache__/

# GitHub, OpenCode and VS Code
.github/
!.github/**/
.opencode/
.vscode/

# Environment
.env

# Build
build/
dist/
mcp_server.spec

# Config files
config/*.json

# uv
uv.lock
