# Python cache
__pycache__/

# GitHub, Claude, OpenCode and VS Code
.github/
!.github/**/
.claude/
.opencode/
.vscode/

# BMad
_bmad/
_bmad-output/

# Environment
.env

# Build and Debug
build/
debug/
dist/
mcp_server.spec
mcp_server.log

# Config files
config/*.json

# uv
uv.lock
